global-include *.txt
global-include *.c
global-include *.cc
global-include *.cu
global-include *.cuh
global-include *.cpp
global-include *.h
global-include *.hh
global-include *.sh
recursive-include doc *
include pytensor/_version.py
